
.customFrame {

  :global {
    height: 100%;

    .ant-layout {
      height: 100%;
      background: #fff;
      overflow-x: hidden;
    }

    .ant-layout-content {
      height: 100%;
      display: flex;
      flex: 1;
    }
  }
}

@media screen and (min-width: 760px) {
  body {
    background: #d9d9d9;
  }
  .customFrame {
    width: 660px;
    margin: 0 auto;
  }
}

