.container {
  position: relative;
  .addPanel ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
  }
  .addPanel ul li {
    width: 100px;
    text-align: center;
    margin: 8px;
  }
  .addPanel ul li button {
    width: 100%;
  }
  .centerPanel {
    margin: 0 auto;
    background-color: #fff;
    max-width: 700px;
    :global {
      .ant-form-item:hover {
        background: #d8e6df;
      }
      .ant-form-item-action {
        position: absolute;
        top: 8px;
        right: 16px;
      }
      .ant-form-item-action i.anticon {
        font-size: 24px;
      }
      .ant-form-item-action i.anticon:hover {
        cursor: pointer;
      }
      i.anticon + i.anticon {
        margin-left: 8px;
      }
      .rowItemWrapper {
        cursor: pointer;
        position: relative;
      }
      .active {
        background: #d8e6df;
      }
      .active:hover {
        cursor: move;
      }
      .ant-radio-group.vertical label, .ant-checkbox-group.vertical label {
        display: block;
        height: 30px;
        line-height: 30px;
      }
      .ant-card-body {
        height: calc(~"100vh - 250px");
        overflow-y: auto;
      }
      .ant-card-extra {
        padding-bottom: 0;
      }
    }
  }
  .editPanel {
    :global {
      .rowItemWrapper {
        position: relative;
      }
      .ant-form-item {
        margin-bottom: 0;
      }
      .ant-card-body {
        padding-right: 80px;
      }
      .ant-form-item-action {
        position: absolute;
        top: 4px;
        right: -64px;
      }
      .ant-form-item-action i.anticon {
        font-size: 16px;
      }
      .ant-form-item-action i.anticon:hover {
        cursor: pointer;
      }
      i.anticon + i.anticon {
        margin-left: 4px;
      }
    }
  }
}
